###########################
# Phalcon/privacy files   #
###########################
/config/koneksi.php
/.htaccess
config/koneksi.php
.htaccess
media-backup.php
/##wp-content
/old-wp-includes
/old-wp-content


