.elementor-3624 .elementor-element.elementor-element-5956578 {
    margin-top: 0px;
    margin-bottom: -120px;
}

.elementor-3624 .elementor-element.elementor-element-4264706:not(.elementor-motion-effects-element-type-background),
.elementor-3624 .elementor-element.elementor-element-4264706>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-360160c);
}

.elementor-3624 .elementor-element.elementor-element-4264706 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.elementor-3624 .elementor-element.elementor-element-4264706>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3624 .elementor-element.elementor-element-2aa1c5b {
    text-align: left;
    width: 180px;
    max-width: 180px;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-c037632-font-family), Sans-serif;
    font-size: var( --e-global-typography-c037632-font-size);
    font-weight: var( --e-global-typography-c037632-font-weight);
    text-transform: var( --e-global-typography-c037632-text-transform);
    font-style: var( --e-global-typography-c037632-font-style);
    line-height: var( --e-global-typography-c037632-line-height);
    letter-spacing: var( --e-global-typography-c037632-letter-spacing);
    word-spacing: var( --e-global-typography-c037632-word-spacing);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-121d3e9);
    fill: var( --e-global-color-121d3e9);
    padding-left: 0px;
    padding-right: 0px;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item:hover,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-text);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 32px / 2);
    width: auto;
    max-width: auto;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 32px;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-menu-toggle {
    color: var( --e-global-color-121d3e9);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-360160c);
    border-style: solid;
    border-width: 16px 0px 16px 0px;
    border-color: var( --e-global-color-360160c);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a:hover,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a.highlighted,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-menu-toggle:hover {
    color: var( --e-global-color-text);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a:hover,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-360160c);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-text);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-item,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-c037632-font-family), Sans-serif;
    font-size: var( --e-global-typography-c037632-font-size);
    font-weight: var( --e-global-typography-c037632-font-weight);
    text-transform: var( --e-global-typography-c037632-text-transform);
    font-style: var( --e-global-typography-c037632-font-style);
    letter-spacing: var( --e-global-typography-c037632-letter-spacing);
    word-spacing: var( --e-global-typography-c037632-word-spacing);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 0px 60px -12px rgba(0, 0, 0, 0.16);
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 0px !important;
}

.elementor-3624 .elementor-element.elementor-element-26c93b7>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
}

.elementor-bc-flex-widget .elementor-3624 .elementor-element.elementor-element-ffb75de.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-3624 .elementor-element.elementor-element-ffb75de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-3624 .elementor-element.elementor-element-ffb75de.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form__container {
    min-height: 40px;
}

.elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form__submit {
    min-width: 40px;
    --e-search-form-submit-text-color: var( --e-global-color-e16f5f5);
    background-color: var( --e-global-color-e0d66e0);
    --e-search-form-submit-icon-size: 14px;
}

body:not(.rtl) .elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form__icon {
    padding-left: calc(40px / 3);
}

body.rtl .elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form__icon {
    padding-right: calc(40px / 3);
}

.elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form__input,
.elementor-3624 .elementor-element.elementor-element-86aeecb.elementor-search-form--button-type-text .elementor-search-form__submit {
    padding-left: calc(40px / 3);
    padding-right: calc(40px / 3);
}

.elementor-3624 .elementor-element.elementor-element-86aeecb input[type="search"].elementor-search-form__input {
    font-family: var( --e-global-typography-8a576d5-font-family), Sans-serif;
    font-size: var( --e-global-typography-8a576d5-font-size);
    text-transform: var( --e-global-typography-8a576d5-text-transform);
    font-style: var( --e-global-typography-8a576d5-font-style);
    line-height: var( --e-global-typography-8a576d5-line-height);
    letter-spacing: var( --e-global-typography-8a576d5-letter-spacing);
    word-spacing: var( --e-global-typography-8a576d5-word-spacing);
}

.elementor-3624 .elementor-element.elementor-element-86aeecb:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    background-color: var( --e-global-color-e0d66e0);
    border-radius: 3px;
}

.elementor-3624 .elementor-element.elementor-element-86aeecb.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    background-color: var( --e-global-color-e0d66e0);
    border-radius: 3px;
}

.elementor-3624 .elementor-element.elementor-element-86aeecb .elementor-search-form--focus .elementor-search-form__container {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.elementor-3624 .elementor-element.elementor-element-86aeecb {
    width: 270px;
    max-width: 270px;
}

.elementor-3624 .elementor-element.elementor-element-3be5ae8 .elementor-button {
    fill: var( --e-global-color-121d3e9);
    color: var( --e-global-color-121d3e9);
    background-color: var( --e-global-color-dc78308);
}

.elementor-3624 .elementor-element.elementor-element-3be5ae8 .elementor-button:hover,
.elementor-3624 .elementor-element.elementor-element-3be5ae8 .elementor-button:focus {
    color: var( --e-global-color-accent);
}

.elementor-3624 .elementor-element.elementor-element-3be5ae8 .elementor-button:hover svg,
.elementor-3624 .elementor-element.elementor-element-3be5ae8 .elementor-button:focus svg {
    fill: var( --e-global-color-accent);
}

.elementor-3624 .elementor-element.elementor-element-3be5ae8 {
    width: auto;
    max-width: auto;
}

.elementor-3624 .elementor-element.elementor-element-d441c8d {
    width: auto;
    max-width: auto;
}

.elementor-3624 .elementor-element.elementor-element-3d8f33a>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
}

.elementor-3624 .elementor-element.elementor-element-3d8f33a {
    width: auto;
    max-width: auto;
}

.elementor-3624 .elementor-element.elementor-element-6d3a6be .elementor-spacer-inner {
    --spacer-size: 10px;
}

.elementor-3624 .elementor-element.elementor-element-6d3a6be>.elementor-widget-container {
    background-color: var( --e-global-color-dc78308);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.06);
}

@media(max-width:1024px) {
    .elementor-bc-flex-widget .elementor-3624 .elementor-element.elementor-element-b4415c7.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-3624 .elementor-element.elementor-element-b4415c7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-3624 .elementor-element.elementor-element-2aa1c5b>.elementor-widget-container {
        margin: 0px 16px 0px 0px;
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-c037632-font-size);
        line-height: var( --e-global-typography-c037632-line-height);
        letter-spacing: var( --e-global-typography-c037632-letter-spacing);
        word-spacing: var( --e-global-typography-c037632-word-spacing);
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-c037632-font-size);
        letter-spacing: var( --e-global-typography-c037632-letter-spacing);
        word-spacing: var( --e-global-typography-c037632-word-spacing);
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown {
        border-width: 24px 0px 24px 0px;
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 32px !important;
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-bc-flex-widget .elementor-3624 .elementor-element.elementor-element-ffb75de.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-3624 .elementor-element.elementor-element-ffb75de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-3624 .elementor-element.elementor-element-ffb75de>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }
    .elementor-3624 .elementor-element.elementor-element-86aeecb input[type="search"].elementor-search-form__input {
        font-size: var( --e-global-typography-8a576d5-font-size);
        line-height: var( --e-global-typography-8a576d5-line-height);
        letter-spacing: var( --e-global-typography-8a576d5-letter-spacing);
        word-spacing: var( --e-global-typography-8a576d5-word-spacing);
    }
}

@media(min-width:768px) {
    .elementor-3624 .elementor-element.elementor-element-b4415c7 {
        width: 140%;
    }
    .elementor-3624 .elementor-element.elementor-element-ffb75de {
        width: 45%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3624 .elementor-element.elementor-element-b4415c7 {
        width: 50%;
    }
    .elementor-3624 .elementor-element.elementor-element-ffb75de {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-3624 .elementor-element.elementor-element-b4415c7 {
        width: 50%;
    }
    .elementor-3624 .elementor-element.elementor-element-b4415c7.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-c037632-font-size);
        line-height: var( --e-global-typography-c037632-line-height);
        letter-spacing: var( --e-global-typography-c037632-letter-spacing);
        word-spacing: var( --e-global-typography-c037632-word-spacing);
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-c037632-font-size);
        letter-spacing: var( --e-global-typography-c037632-letter-spacing);
        word-spacing: var( --e-global-typography-c037632-word-spacing);
    }
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-3624 .elementor-element.elementor-element-26c93b7 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }
    .elementor-3624 .elementor-element.elementor-element-ffb75de {
        width: 50%;
    }
    .elementor-3624 .elementor-element.elementor-element-86aeecb input[type="search"].elementor-search-form__input {
        font-size: var( --e-global-typography-8a576d5-font-size);
        line-height: var( --e-global-typography-8a576d5-line-height);
        letter-spacing: var( --e-global-typography-8a576d5-letter-spacing);
        word-spacing: var( --e-global-typography-8a576d5-word-spacing);
    }
}